<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isamed">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_isamed"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_isamed"
        android:supportsRtl="true"
        android:theme="@style/Theme.IsaMed"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.ui.activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name="com.ui.activities.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name="com.ui.activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.SonogramActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.CptDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.CptCodeListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.DiagnosisListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.TestResultDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.LabOrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.PaymentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.SearchPatientResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.BookAppointmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.AppointmentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.PatientFullDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.PrescriptionAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.SearchPatientActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.FilterFromAppointmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.AppointmentListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.FilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- replace " .  to  "com.ui.activities. -->
        <activity
            android:name="com.ui.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>